* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
body {
    height: 100%;
    background: #fff;
    font-family: Arial;
    font-size: 13px;
    overflow: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}